@use '../abstracts/variables' as *;
@use '../abstracts/functions' as f;

.header {
	position: relative;
	z-index: 10;
	padding: $gap-24 0;
	border-bottom: 1px solid $color-border;
	background-color: $color-bg;
}
