// src/styles/components/_buttons.scss
@use '../abstracts/variables' as *;
@use '../abstracts/placeholders' as *;
@use '../abstracts/breakpoints' as bp;

.btn {
	@extend %button-base;
	&--primary {
		box-sizing: border-box;
		border: 1px solid $color-primary;
		color: $color-white;
		background-color: $color-primary;

		@media #{bp.$hover} {
			&:hover {
				border-color: $color-primary-hover;
				background-color: $color-primary-hover;
			}
		}
	}

	&--outline {
		box-sizing: border-box;
		border: 1px solid $color-primary;
		color: $color-primary;
		background-color: transparent;

		@media #{bp.$hover} {
			&:hover {
				color: $color-white;
				background-color: $color-primary-hover;
			}
		}
	}

	&--outline-white {
		box-sizing: border-box;
		border: 1px solid $color-white;
		color: $color-white;
		background-color: transparent;

		@media #{bp.$hover} {
			&:hover {
				color: $color-white;
				background-color: $color-primary-hover;
				border: 1px solid $color-primary;
			}
		}
	}

	&--white {
		box-sizing: border-box;
		border: 1px solid transparent;
		color: $color-primary;
		background-color: $color-white;

		@media #{bp.$hover} {
			&:hover {
				color: $color-white;
				background-color: $color-blue-700;
			}
		}
	}
}
