@use '../abstracts/mixins' as mixins;
@use '../abstracts/placeholders' as ph;
@use '../abstracts/variables' as *;
@use '../abstracts/breakpoints' as bp;
@use '../layout/wrapper' as *;

.footer {
	padding-bottom: $gap-64;
	background-color: $color-blue-700;

	@include bp.respond(mobile) {
		padding-bottom: $gap-48;
	}

	&__content {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		gap: $gap-24;

		@include bp.respond(desktop, max) {
			flex-direction: column;
			gap: $gap-48;
			justify-content: flex-start;
		}
	}

	&__description {
		display: flex;
		flex-direction: column;
		width: calc(4 / 12 * 100% - $gap-12);
		gap: $gap-24;

		@include bp.respond(mobile) {
			width: 100%;
		}

		@include bp.respond(tablet) {
			width: calc(50% - $gap-16);
		}
	}

	&__links {
		display: flex;
		width: calc(6 / 12 * 100% - $gap-12);
		gap: $gap-24;

		@include bp.respond(mobile) {
			flex-direction: column;
			width: 100%;
			gap: $gap-48;
		}

		@include bp.respond(tablet) {
			width: 100%;
			gap: $gap-32;
		}
	}

	&__link {
		color: $color-blue-100;

		@media #{bp.$hover} {
			&:hover {
				color: $color-white;
			}
		}
	}

	&__logo {
		display: flex;
		align-items: center;
		text-decoration: none;
		gap: $gap-16;

		@include bp.respond(mobile) {
			gap: $gap-06;
		}

		img {
			width: 3.6rem;
			height: 3.6rem;
		}
	}

	&__brand {
		font-family: $font-main;
		font-size: $fs-h3;
		color: $color-gray-200;
	}

	&__text {
		color: $color-white;
	}
}
