@use '../abstracts/mixins' as mixins;
@use '../abstracts/placeholders' as ph;
@use '../abstracts/functions' as f;
@use '../abstracts/variables' as *;
@use '../abstracts/breakpoints' as bp;
@use '../layout/wrapper' as *;

.nav {
	background-color: $color-bg;

	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__logo {
		display: flex;
		align-items: center;
		text-decoration: none;
		gap: $gap-16;

		@include bp.respond(mobile, max) {
			gap: $gap-06;
		}

		img {
			width: 3.6rem;
			height: 3.6rem;
		}
	}

	&__brand {
		font-family: $font-main;
		font-size: $fs-h3;
		color: $color-primary;
	}

	&__toggle-line {
		width: 2rem;
		height: 0.3rem;
		transition: width 0.2s ease-in-out, transform 0.2s ease-in-out;
		background: $color-white;

		&:first-of-type {
			width: 1.6rem;
		}

		&:last-of-type {
			width: 1.2rem;
		}
	}

	&__toggle {
		display: none;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		min-width: 3.6rem;
		min-height: 3.6rem;
		padding: 0.8rem;
		cursor: pointer;
		border: none;
		border-radius: $radius-s;
		background: $color-primary;
		gap: 0.5rem;

		@include bp.respond(desktop, max) {
			display: flex;
		}

		&[aria-expanded='true'] {
			.nav__toggle-line {
				width: 0;
			}

			.nav__toggle-line:first-of-type {
				width: 2rem;
				transform: translateY(0.8rem) rotate(45deg);
			}

			.nav__toggle-line:last-of-type {
				width: 2rem;
				transform: translateY(-0.8rem) rotate(-45deg);
			}
		}
	}

	&__list {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 0;
		padding: 0;
		left: -1.2rem;

		@include bp.respond(desktop, max) {
			display: flex;
			position: absolute;
			top: calc(100% + 2.5rem);
			right: 0;
			left: 0;
			visibility: hidden;
			align-items: flex-start;
			flex-direction: column;
			width: 100%;
			padding: $gap-12 0;
			transition: width 0.25s ease-in-out, transform 0.25s ease-in-out,
				opacity 0.25s ease-in-out;
			transform: translateY(3.2rem);
			pointer-events: none;
			opacity: 0;
			box-shadow: 0 0.6rem 1.2rem rgba($color-black, 0.08);
			background: $color-bg;
		}

		&--open {
			@include bp.respond(desktop, max) {
				visibility: visible;
				transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out,
					visibility 0s ease-in-out 0s;
				transform: translateY(0);
				pointer-events: auto;
				opacity: 1;
			}
		}
	}

	&__item {
		letter-spacing: 0.2rem;

		&--dropdown {
			position: relative;
			@include bp.respond(desktop, max) {
				display: flex;
				align-items: flex-start;
				flex-direction: column;
				justify-content: space-between;
				width: 100%;
			}

			@media #{bp.$hover} {
				&:hover {
					.nav__sublist {
						visibility: visible;
						transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out,
							visibility 0s ease-in-out 0s;
						transform: translateY(0);
						pointer-events: auto;
						opacity: 1;
					}

					.nav__dropdown-icon svg {
						transform: rotate(180deg);
					}
				}
			}

			&::after {
				content: '';
				position: absolute;
				top: 100%;
				left: 0;
				width: 100%;
				height: 2.5rem;
			}
		}

		&--cta {
			margin-left: auto;

			@include bp.respond(desktop) {
				margin-left: $gap-12;
			}

			@include bp.respond(desktop, max) {
				display: none;
			}
		}
	}

	&__link {
		display: block;
		padding: $gap-12;
		white-space: nowrap;
		text-decoration: none;
		text-transform: uppercase;
		font-size: $fs-xxs;
		color: $color-text;

		@media #{bp.$hover} {
			&:hover {
				color: $color-primary;
			}
		}

		@include bp.respond(mobile) {
			padding: $gap-12 $gap-16;
		}

		@include bp.respond(tablet) {
			padding: $gap-12 $gap-24;
		}

		&--dropdown {
			display: flex;
			position: relative;
			align-items: center;
			justify-content: center;
			width: 100%;
			cursor: pointer;
			gap: $gap-06;

			@include bp.respond(desktop, max) {
				justify-content: space-between;
			}
		}
	}

	&__dropdown-icon {
		display: inline-flex;
		align-items: center;
		flex-shrink: 0; // nie pozwól, żeby ikonę ścinali, jeśli parent ma display:flex
		justify-content: center;
		width: 1rem; // np. 1.2rem × 1.2rem — dopasuj do pliku SVG
		height: 0.61rem;

		@include bp.respond(desktop, max) {
			width: 2rem;
			height: 2rem;
			padding: $gap-06;
			border-radius: $radius-s;
			background-color: $color-blue-100;
		}

		svg {
			width: 100%;
			height: 100%;
			transition: transform 0.2s ease-in-out;
			fill: $color-primary;
		}
	}

	// =======================
	//  ANIMOWANA SUBLISTA
	// =======================
	&__sublist {
		position: absolute;
		top: calc(100% + 2.5rem);
		left: 0;
		visibility: hidden;
		margin: 0;
		padding: $gap-12; // padding wewnątrz listy
		list-style: none;
		transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out,
			visibility 0s ease-in-out 0.2s;
		transform: translateY(3.2rem);
		pointer-events: none;
		opacity: 0;
		box-shadow: 2px 4px 6px rgba($color-black, 0.1);
		background: $color-bg;

		@include bp.respond(desktop, min) {
			left: -1.2rem;
		}
		@include bp.respond(desktop, max) {
			transition: opacity 0s, transform 0s, visibility 0s ease-in-out 0.2s;
			transform: translateY(0);
		}
	}

	&__sublink {
		display: block;
		padding: $gap-12;
		white-space: nowrap;
		text-decoration: none;
		text-transform: uppercase;
		font-size: $fs-xxs;
		color: $color-text;

		@include bp.respond(mobile) {
			padding: $gap-12 $gap-16;
		}

		@include bp.respond(tablet) {
			padding: $gap-12 $gap-24;
		}

		@media #{bp.$hover} {
			&:hover {
				color: $color-primary;
			}
		}
	}

	&__item--dropdown[aria-expanded='true'] {
		.nav__link--dropdown {
			@include bp.respond(desktop, max) {
				font-weight: 600;
			}
		}

		.nav__sublist {
			position: absolute;
			visibility: visible;
			transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out,
				visibility 0s ease-in-out 0s;
			transform: translateY(0);
			opacity: 1;

			@include bp.respond(desktop, max) {
				position: relative;
				width: 100%;
				padding: 0 $gap-48 0 $gap-16;
				transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out,
					visibility 0s ease-in-out 0s;
				box-shadow: none;
			}
		}

		.nav__dropdown-icon svg {
			transform: rotate(180deg);
		}
	}
}
