<div class="treatment__header section__header section__header--centered">
	<span class="section__subtitle">Metoda leczenia</span>
	<h1 class="treatment__title section__title"><%= meta.article_title %></h1>

	<p class="treatment__text section__caption" id="treatment-desc">
		<%= meta.article_description %>
	</p>

	<div
		class="section__buttons section__buttons--mtop section__buttons--centered"
		aria-label="Główne wezwania do działania"
	>
		<a
			href="<%= meta.article_ID %>"
			class="btn btn--primary"
			title="Dowiedz się więcej"
			>Dowiedz się więcej</a
		>
		<a href="#map" class="btn btn--outline" title="Znajdź specjalistę"
			>Znajdź specjalistę</a
		>
	</div>
</div>
