@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;
@use '../abstracts/breakpoints' as bp;

.advices {
	background-color: $color-bg-secondary;

	&__body {
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		justify-content: flex-start;
		gap: $gap-48;

		@include bp.respond(tablet) {
			gap: $gap-32;
			flex-direction: row;
		}
	}

	&__item {
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		gap: $gap-48;

		@include bp.respond(desktop, max) {
			align-items: flex-start;
			flex-direction: column;
			gap: $gap-24;
		}

		@include bp.respond(tablet) {
			max-width: calc(4 / 8 * 100% - $gap-16);
		}
	}

	&__image {
		width: calc(6 / 12 * 100% - $gap-12);

		@include bp.respond(desktop, max) {
			width: 100%;
		}

		img {
			object-fit: cover;
			min-height: 34rem;
			max-height: 34rem;

			@include bp.respond(mobile) {
				min-height: 22rem;
				max-height: 22rem;
			}

			@include bp.respond(tablet) {
				min-height: 28rem;
				max-height: 28rem;
			}
		}
	}

	&__details {
		align-self: center;

		width: calc(6 / 12 * 100% - $gap-12);
		text-align: left;

		@include bp.respond(desktop, max) {
			width: 100%;
		}
	}

	&__captions {
		margin-top: $gap-24;

		@include bp.respond(desktop, max) {
			display: flex;
			flex-direction: column;
			gap: $gap-12;
		}
	}

	&__author {
		margin-top: $gap-16;
		color: $color-text-secondary;

		@include bp.respond(mobile) {
			margin-top: $gap-24;
		}
	}

	&__link {
		display: inline-block;
		margin-top: 2rem;
		@include bp.respond(desktop, max) {
			margin-top: $gap-12;
		}
	}
}
