@use '../abstracts/mixins' as mixins;
@use '../abstracts/variables' as *;
@use '../abstracts/breakpoints' as bp;
@use '../layout/wrapper' as *;

.error {
	display: flex;
	min-height: calc(100vh - 9.6rem);

	@include bp.respond(desktop, max) {
		min-height: calc(100vh - 8.5rem);
	}

	&__icon {
		max-width: 36rem;
		margin-bottom: $gap-24;
		color: $color-black;

		@include bp.respond(mobile) {
			max-width: 24rem;
			margin-bottom: 0;
		}

		@include bp.respond(tablet) {
			max-width: 30rem;
		}
	}

	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		max-width: calc(4 / 12 * 100%);

		@include bp.respond(mobile) {
			max-width: 100%;
		}

		@include bp.respond(tablet) {
			max-width: calc(8 / 12 * 100%);
		}
	}

	&__text {
		margin: 0 0 $gap-40 0;
		color: $color-gray-400;
	}
}
