<section
	class="advice section advice--no-padding"
	aria-label="Porady Eksperckie – Zaburzenia erekcji a psychika"
	id="advice-lifestyle-change"
>
	<div class="advice__container wrapper">
		<div class="advice__header section__header">
			<span class="section__subtitle">Porady eksperckie</span>
			<h1 class="advice__title section__title">
				Zaburzenia erekcji a psychika – jak emocje wpływają na sprawność
				seksualną?
			</h1>

			<div class="advice__author">
				<img
					src="/src/assets/images/avatar-small.webp"
					class="advice__author-img"
					alt="Dr hab. Tomasz Kowalski"
					height="48"
					width="48"
				/>
				<div class="advice__author-details">
					<h4 class="advice__author-title">Dr hab. Tomasz Kowalski</h4>
					<span class="advice__author-specialization">Urolog, Androlog</span>
				</div>
			</div>

			<p class="advice__text section__caption">
				Stres, lęk i niska samoocena... Wiele zaburzeń erekcji wynika z
				psychologicznych blokad, które da się skutecznie rozwiązać dzięki
				odpowiedniej terapii. Poznaj skuteczne sposoby na redukcję stresu i
				budowanie pewności siebie w relacjach.
			</p>

			<div
				class="section__buttons section__buttons--mtop section__buttons--centered"
				aria-label="Główne wezwania do działania"
			>
				<a
					href="#psychika-a-sprawnosc-seksualna"
					class="btn btn--primary"
					title="Czytaj artykuł"
					>Czytaj artykuł</a
				>
				<a href="#map" class="btn btn--outline" title="Znajdź specjalistę"
					>Znajdź specjalistę</a
				>
			</div>
		</div>
	</div>

	<%- include("article-image.ejs") %>
</section>

<section
	class="advice advice--no-padding"
	aria-label="Porady Eksperckie – Psychika a sprawność seksualna"
	id="#psychika-a-sprawnosc-seksualna"
>
	<div class="advice__container advice__section advice__section--first wrapper">
		<div class="advice__content">
			<h2 class="advice__title">Psychika a&nbsp;sprawność seksualna</h2>

			<p class="advice__text">
				Sprawność seksualna mężczyzny jest ściśle powiązana nie tylko
				z&nbsp;kondycją fizyczną, lecz również z dobrostanem psychicznym. Liczne
				badania wskazują, że czynniki emocjonalne – takie jak
				<b>przewlekły stres, niska samoocena czy napięcia w&nbsp;relacjach</b> –
				mogą zaburzać fizjologiczne procesy odpowiadające za erekcję, prowadząc
				do istotnych trudności w&nbsp;uzyskaniu lub utrzymaniu wzwodu<sup
					class="ref"
					>(1,2)</sup
				>.
			</p>

			<p class="advice__text">
				W części przypadków problemy z&nbsp;erekcją bywają jednym
				z&nbsp;pierwszych sygnałów głębszych kłopotów natury psychicznej, na
				przykład depresji, lęku uogólnionego czy zaburzeń adaptacyjnych<sup
					class="ref"
					>(3,4)</sup
				>.
			</p>

			<p class="advice__text">
				Według dostępnych danych epidemiologicznych, czynniki psychogenne mogą
				odpowiadać nawet za
				<b>20–30&nbsp;% wszystkich przypadków</b> zaburzeń erekcji.
				Bagatelizowanie tych trudności często prowadzi do ich utrwalenia,
				a&nbsp;w&nbsp;konsekwencji do dalszego obniżenia samooceny, wzrostu
				poziomu stresu oraz problemów w&nbsp;relacji z&nbsp;partnerem<sup
					class="ref"
					>(2,3,4)</sup
				>.
			</p>

			<p class="advice__text">
				W wielu wypadkach podjęcie specjalistycznej diagnozy i&nbsp;leczenia
				(np.&nbsp;psychoterapii, farmakoterapii czy terapii par)
				<b
					>pozwala jednak skutecznie ograniczyć ryzyko utrwalenia się zaburzeń
					erekcji</b
				>
				oraz związanych z&nbsp;nimi konsekwencji<sup class="ref">(1,3,4)</sup>.
			</p>

			<div class="advice__two-images">
				<img
					src="/src/assets/images/man-stressed-in-bedroom.webp"
					loading="lazy"
					alt="Zdenerwowany mężczyzna siedzący na łóżku"
					width="100%"
					height="240"
					class="advice__two-images-item"
				/>
				<img
					src="/src/assets/images/man-thoughtful-on-couch.webp"
					loading="lazy"
					alt="Zamyślony mężczyzna siedzący na kanapie"
					width="100%"
					height="240"
					class="advice__two-images-item"
				/>
			</div>

			<p class="advice__text">
				Warto pamiętać, że trudności z&nbsp;erekcją nie zawsze wynikają
				z&nbsp;przyczyn organicznych (np.&nbsp;zaburzeń krążenia czy cukrzycy).
				<b>Równie ważna jest kondycja psychiczna</b> – utrzymujący się stres,
				obniżony nastrój lub lęk mogą znacząco wpływać na sprawność seksualną.
				Dlatego w razie przedłużających się problemów zaleca się konsultację
				z&nbsp;lekarzem rodzinnym, urologiem oraz – jeśli to konieczne –
				specjalistą zdrowia psychicznego, takim jak psycholog czy seksuolog.
			</p>

			<p class="advice__text">
				Profesjonalna diagnostyka pozwala ustalić rzeczywistą przyczynę zaburzeń
				i&nbsp;dobrać adekwatne leczenie, obejmujące m.in. terapię indywidualną,
				terapię par lub – gdy wymaga tego stan kliniczny – wsparcie
				farmakologiczne<sup class="ref">(3,4)</sup>.
			</p>
		</div>

		<div class="bibliography advice__bibliography">
			<h4 class="bibliography__title">Bibliografia:</h4>
			<ol class="bibliography__list">
				<li>
					<span class="bibliography__authors">
						McCabe&nbsp;M.&nbsp;P., Sharlip&nbsp;I.&nbsp;D., Lewis&nbsp;R.
						<i>et&nbsp;al.</i> Risk Factors for Sexual Dysfunction Among Men and
						Women: A Consensus Statement From the Fourth International
						Consultation on Sexual Medicine&nbsp;2015.
						<i>The Journal of Sexual Medicine,</i> 2016;13(2):153-167. –
					</span>
					<a
						href="https://pubmed.ncbi.nlm.nih.gov/26953830/"
						class="bibliography__link"
						target="_blank"
						rel="noopener"
						title="PubMed"
					>
						https://pubmed.ncbi.nlm.nih.gov/26953830/
					</a>
				</li>
				<li>
					<span class="bibliography__authors">
						Shamloul&nbsp;R., Ghanem&nbsp;H. Erectile dysfunction.
						<i>The Lancet,</i> 2013;381(9861):153-165. –
					</span>
					<a
						href="https://pubmed.ncbi.nlm.nih.gov/23040455/"
						class="bibliography__link"
						target="_blank"
						rel="noopener"
						title="PubMed"
					>
						https://pubmed.ncbi.nlm.nih.gov/23040455/
					</a>
				</li>
				<li>
					<span class="bibliography__authors">
						American Psychiatric Association.
						<i
							>Diagnostic and Statistical Manual of Mental Disorders, Fifth
							Edition (DSM-5).</i
						>
						Arlington, VA: American Psychiatric Publishing; 2013. –
					</span>
					<a
						href="https://www.mredscircleoftrust.com/storage/app/media/DSM%205%20TR.pdf"
						class="bibliography__link"
						target="_blank"
						rel="noopener"
						title="DSM-5 PDF"
					>
						https://www.mredscircleoftrust.com/storage/app/media/DSM%205%20TR.pdf
					</a>
				</li>
				<li>
					<span class="bibliography__authors">
						Sugimori&nbsp;H., Yoshida&nbsp;K., Tanaka&nbsp;T., Baba&nbsp;K.,
						Nishida&nbsp;T., Nakazawa&nbsp;R., Iwamoto&nbsp;T. Relationships
						between erectile dysfunction, depression, and anxiety in Japanese
						subjects.
						<i>J&nbsp;Sex Med,</i> 2005 May;2(3):390-396. –
					</span>
					<a
						href="https://pubmed.ncbi.nlm.nih.gov/16422871/"
						class="bibliography__link"
						target="_blank"
						rel="noopener"
						title="PubMed"
					>
						https://pubmed.ncbi.nlm.nih.gov/16422871/
					</a>
				</li>
			</ol>
		</div>
	</div>
</section>

<section class="advice advice--secondary advice--no-padding">
	<div class="advice__container advice__section wrapper">
		<div class="advice__content">
			<h2 class="advice__title">
				Jakie problemy psychologiczne najczęściej prowadzą do&nbsp;zaburzeń
				erekcji?
			</h2>

			<p class="advice__text">
				Zaburzenia erekcji bardzo często mają złożone podłoże, w&nbsp;którym
				obok czynników somatycznych (m.in.&nbsp;chorób układu krążenia czy
				zaburzeń hormonalnych) kluczową rolę odgrywają procesy psychiczne.
			</p>

			<p class="advice__text">
				Liczne badania wskazują, że u&nbsp;niektórych mężczyzn
				<b
					>stres, lęk, zaburzenia nastroju czy negatywne doświadczenia
					życiowe</b
				>
				mogą w&nbsp;znacznym stopniu wpływać na zdolność osiągnięcia
				i&nbsp;utrzymania erekcji<sup class="ref">(1,2)</sup>. Poniżej
				przedstawiono najczęstsze przyczyny psychologiczne:
			</p>

			<ol class="advice__olist">
				<li class="advice__olist-item">
					<span><b>Stres i&nbsp;przemęczenie</b></span> – przewlekły stres
					zawodowy, trudne sytuacje rodzinne czy problemy finansowe mogą
					prowadzić do nadmiernego obciążenia układu nerwowego. Wysoki poziom
					kortyzolu (tzw.&nbsp;hormonu stresu) ogranicza możliwość pełnego
					odprężenia i&nbsp;obniża poziom libido. Brak czasu na regenerację –
					zarówno fizyczną, jak i&nbsp;psychiczną – znacząco redukuje zdolność
					organizmu do prawidłowej reakcji seksualnej<sup class="ref">(3)</sup>.
				</li>

				<li class="advice__olist-item">
					<span><b>Lęk przed niepowodzeniem</b></span> – obawa przed
					„niespełnieniem oczekiwań” partnerki/partnera czy kompromitacją
					podczas zbliżenia to częsty problem określany mianem „lęku przed
					oceną”. Ten mechanizm wywołuje błędne koło
					stresu&nbsp;i&nbsp;napięcia, co utrudnia prawidłowy przepływ bodźców
					nerwowych odpowiedzialnych za wzwód<sup class="ref">(1)</sup>.
				</li>

				<li class="advice__olist-item">
					<span><b>Niska samoocena</b></span> – mężczyźni mający trudność
					z&nbsp;akceptacją własnego wyglądu, witalności czy sprawności
					seksualnej mogą doświadczać dodatkowego napięcia i&nbsp;unikać
					bliskości fizycznej z&nbsp;obawy przed odrzuceniem. W&nbsp;efekcie
					niska samoocena wzmacnia mechanizm samospełniającej się przepowiedni –
					lęk przed problemem erekcji zwiększa ryzyko jego wystąpienia
					<sup class="ref">(2,4)</sup>.
				</li>

				<li class="advice__olist-item">
					<span><b>Problemy w&nbsp;relacjach</b></span> – konflikty, brak
					zaufania, nierozwiązane żale czy poczucie emocjonalnego dystansu
					między partnerami to czynniki bezpośrednio wpływające na zdrowie
					seksualne. Zaburzenia erekcji mogą być w&nbsp;takich przypadkach
					zarówno skutkiem, jak i&nbsp;katalizatorem pogłębiających się
					trudności w&nbsp;komunikacji i&nbsp;wzajemnym wsparciu<sup class="ref"
						>(2,5)</sup
					>.
				</li>

				<li class="advice__olist-item">
					<span><b>Trauma emocjonalna</b></span> – negatywne doświadczenia
					z&nbsp;przeszłości – np.&nbsp;rozstania, zdrady, nadużycia emocjonalne
					lub seksualne – mogą wywoływać trwały uraz psychiczny. Skutkuje to
					obniżeniem zaufania do partnera i&nbsp;strachem przed zbliżeniem, co
					niejednokrotnie blokuje reakcje seksualne organizmu<sup class="ref"
						>(3,5)</sup
					>.
				</li>
			</ol>

			<p class="advice__text">
				Warto podkreślić, że wskazane czynniki często nakładają się na siebie,
				tworząc złożony łańcuch zależności. Dlatego też w&nbsp;diagnostyce
				zaburzeń erekcji nie powinno się ograniczać jedynie do badania aspektów
				fizycznych – niezbędna jest także pogłębiona
				<b>ocena psychologiczna i&nbsp;wywiad środowiskowy</b>.
			</p>

			<p class="advice__text">
				Skuteczne wsparcie może obejmować psychoterapię indywidualną lub par,
				interwencje poznawczo-behawioralne, a&nbsp;w&nbsp;razie potrzeby również
				leczenie farmakologiczne.
			</p>
		</div>

		<div class="bibliography advice__bibliography">
			<h4 class="bibliography__title">Bibliografia:</h4>
			<ol class="bibliography__list">
				<li>
					<span class="bibliography__authors">
						McCabe&nbsp;M.&nbsp;P., Sharlip&nbsp;I.&nbsp;D., Lewis&nbsp;R.
						<i>et&nbsp;al.</i> Risk Factors for Sexual Dysfunction Among Men and
						Women: A&nbsp;Consensus Statement From the Fourth International
						Consultation on Sexual Medicine&nbsp;2015.
						<i>The Journal of Sexual Medicine,</i> 2016;13(2):153–167. –
					</span>
					<a
						href="https://pubmed.ncbi.nlm.nih.gov/26953830/"
						class="bibliography__link"
						target="_blank"
						rel="noopener"
						title="PubMed"
					>
						https://pubmed.ncbi.nlm.nih.gov/26953830/
					</a>
				</li>
				<li>
					<span class="bibliography__authors">
						Shamloul&nbsp;R., Ghanem&nbsp;H. Erectile dysfunction.
						<i>The Lancet,</i> 2013;381(9861):153–165. –
					</span>
					<a
						href="https://pubmed.ncbi.nlm.nih.gov/23040455/"
						class="bibliography__link"
						target="_blank"
						rel="noopener"
						title="PubMed"
					>
						https://pubmed.ncbi.nlm.nih.gov/23040455/
					</a>
				</li>

				<li>
					<span class="bibliography__authors">
						Sugimori&nbsp;H., Yoshida&nbsp;K., Tanaka&nbsp;T.
						<i>et&nbsp;al.</i> Relationships between erectile dysfunction,
						depression, and anxiety in Japanese subjects.
						<i>J&nbsp;Sex Med,</i> 2005&nbsp;May;2(3):390–396. –
					</span>
					<a
						href="https://pubmed.ncbi.nlm.nih.gov/16422871/"
						class="bibliography__link"
						target="_blank"
						rel="noopener"
						title="PubMed"
					>
						https://pubmed.ncbi.nlm.nih.gov/16422871/
					</a>
				</li>
				<li>
					<span class="bibliography__authors">
						American Psychiatric Association.
						<i
							>Diagnostic and Statistical Manual of Mental Disorders, Fifth
							Edition (DSM-5).</i
						>
						Arlington, VA: American Psychiatric Publishing; 2013. –
					</span>
					<a
						href="https://www.mredscircleoftrust.com/storage/app/media/DSM%205%20TR.pdf"
						class="bibliography__link"
						target="_blank"
						rel="noopener"
						title="DSM-5 PDF"
					>
						https://www.mredscircleoftrust.com/storage/app/media/DSM%205%20TR.pdf
					</a>
				</li>
				<li>
					<span class="bibliography__authors">
						Laumann&nbsp;E.&nbsp;O., Paik&nbsp;A., Rosen&nbsp;R.&nbsp;C. Sexual
						dysfunction in the United States: prevalence and predictors.
						<i>JAMA,</i> 1999;281(6):537–544. –
					</span>
					<a
						href="https://pubmed.ncbi.nlm.nih.gov/10022110/"
						class="bibliography__link"
						target="_blank"
						rel="noopener"
						title="PubMed"
					>
						https://pubmed.ncbi.nlm.nih.gov/10022110/
					</a>
				</li>
			</ol>
		</div>
	</div>
</section>

<section class="advice advice--no-padding">
	<div class="advice__container advice__section wrapper">
		<div class="advice__content">
			<h2 class="advice__title">
				Jak radzić sobie z&nbsp;psychologicznymi blokadami?
			</h2>

			<p class="advice__text">
				<b>Przełamanie barier psychologicznych</b>, które utrudniają
				satysfakcjonujące życie intymne, rozpoczyna się od rzetelnej diagnozy
				i&nbsp;zrozumienia przyczyn ich występowania. Jedną z&nbsp;kluczowych
				i&nbsp;najskuteczniejszych metod postępowania pozostaje
				<b>terapia psychologiczna lub seksuologiczna</b> – zwłaszcza gdy
				prowadzona jest przez doświadczonego specjalistę, zgodnie
				z&nbsp;europejskimi wytycznymi dotyczącymi zdrowia seksualnego<sup
					class="ref"
					>(1,2)</sup
				>.
			</p>

			<p class="advice__text">
				W&nbsp;trakcie konsultacji z&nbsp;terapeutą można nie tylko wyodrębnić
				konkretne sytuacje wywołujące stres czy lęk, ale także nauczyć się
				efektywnych strategii radzenia sobie z&nbsp;nimi na co dzień.
			</p>

			<img
				src="/src/assets/images/therapist-session.webp"
				loading="lazy"
				alt="Sesja terapeutyczna – rozmowa pacjenta z terapeutą"
				width="100%"
				height="480"
				class="advice__picture"
			/>

			<p class="advice__text">
				Kolejnym krokiem, rekomendowanym również w&nbsp;badaniach europejskich
				nad redukcją stresu, jest
				<b>regularne stosowanie technik relaksacyjnych</b>, takich jak ćwiczenia
				oddechowe, trening autogenny czy medytacja. Udowodniono, że praktyki te
				sprzyjają obniżeniu poziomu kortyzolu, wspierają homeostazę hormonalną
				oraz przywracają organizmowi naturalną zdolność do zdrowej reakcji
				seksualnej<sup class="ref">(3,4)</sup>.
			</p>

			<p class="advice__text">
				Równie istotne okazuje się
				<b
					>rozwijanie kompetencji komunikacyjnych w&nbsp;relacji
					z&nbsp;partnerem</b
				>. Otwarta rozmowa o&nbsp;trudnościach i&nbsp;potrzebach nie tylko
				pozwala na zmniejszenie napięcia, lecz także wzmacnia wzajemne zaufanie
				oraz pomaga uniknąć błędnego koła obwiniania się za niepowodzenia
				w&nbsp;sypialni. Wiele badań wskazuje, że takie konstruktywne podejście
				minimalizuje ryzyko narastania dodatkowych stresów oraz pogłębiania się
				blokad psychicznych<sup class="ref">(2,5)</sup>.
			</p>

			<div class="advice__quote">
				<svg class="advice__quote-icon" aria-hidden="true">
					<use href="#i-quote"></use>
				</svg>
				<div class="advice__quote-details">
					<p class="advice__quote-text">
						Bez akceptacji siebie trudno zbudować trwałą<br />
						i&nbsp;zdrową relację z&nbsp;kimkolwiek innym.
					</p>
					<p class="advice__quote-author">~ Sigmund Freud</p>
				</div>
			</div>

			<p class="advice__text">
				Budowanie pozytywnej samooceny stanowi kolejny istotny filar pracy nad
				barierami natury psychologicznej. W&nbsp;literaturze podkreśla się, że
				świadomość własnych zalet i&nbsp;akceptacja ograniczeń wspierają jakość
				życia seksualnego, a&nbsp;stopniowe osiąganie realnych celów wzmacnia
				pewność siebie. Taka postawa sprzyja nie tylko przełamywaniu lęków
				i&nbsp;napięć, ale też buduje poczucie bezpieczeństwa w&nbsp;relacji
				z&nbsp;partnerem<sup class="ref">(5)</sup>.
			</p>
		</div>

		<div class="bibliography advice__bibliography">
			<h4 class="bibliography__title">Bibliografia:</h4>
			<ol class="bibliography__list">
				<li>
					<span class="bibliography__authors">
						Nobre&nbsp;P.&nbsp;J., Pinto-Gouveia&nbsp;J. (2006). Dysfunctional
						sexual beliefs as vulnerability factors for sexual dysfunction.
						<i>Clinical Psychology &amp; Psychotherapy,</i> 13(5), 255-272. –
					</span>
					<a
						href="https://pubmed.ncbi.nlm.nih.gov/16817069/"
						class="bibliography__link"
						target="_blank"
						rel="noopener"
						title="PubMed"
					>
						https://pubmed.ncbi.nlm.nih.gov/16817069/
					</a>
				</li>
				<li>
					<span class="bibliography__authors">
						Minhas&nbsp;S., Bettocchi&nbsp;C., Boeri&nbsp;L.
						<i>et&nbsp;al.</i> (2023). EAU Guidelines on Sexual and Reproductive
						Health. European Association of Urology. –
					</span>
					<a
						href="https://uroweb.org/guidelines/sexual-and-reproductive-health"
						class="bibliography__link"
						target="_blank"
						rel="noopener"
						title="EAU Guidelines"
					>
						https://uroweb.org/guidelines/sexual-and-reproductive-health
					</a>
				</li>
				<li>
					<span class="bibliography__authors">
						Chiesa&nbsp;A., Serretti&nbsp;A. (2010). A systematic review of
						neurobiological and clinical features of mindfulness meditations.
						<i>Psychological Medicine,</i> 40(8), 1239-1252. –
					</span>
					<a
						href="https://doi.org/10.1017/S0033291709991747"
						class="bibliography__link"
						target="_blank"
						rel="noopener"
						title="DOI"
					>
						https://doi.org/10.1017/S0033291709991747
					</a>
				</li>
				<li>
					<span class="bibliography__authors">
						Carlson&nbsp;L.&nbsp;E., Speca&nbsp;M., Faris&nbsp;P.,
						Patel&nbsp;K.&nbsp;D. (2007). One year pre–post intervention
						follow-up of psychological, immune, endocrine and blood pressure
						outcomes of mindfulness-based stress reduction (MBSR).
						<i>Brain, Behavior, and Immunity,</i> 21(8), 1038-1049. –
					</span>
					<a
						href="https://doi.org/10.1016/j.bbi.2007.04.002"
						class="bibliography__link"
						target="_blank"
						rel="noopener"
						title="DOI"
					>
						https://doi.org/10.1016/j.bbi.2007.04.002
					</a>
				</li>
				<li>
					<span class="bibliography__authors">
						NICE. (2021).
						<i>Depression in adults: advice and management.</i> NICE Guideline
						(NG222). National Institute for Health and Care Excellence. –
					</span>
					<a
						href="https://www.nice.org.uk/guidance/ng222"
						class="bibliography__link"
						target="_blank"
						rel="noopener"
						title="NICE Guideline"
					>
						https://www.nice.org.uk/guidance/ng222
					</a>
				</li>
			</ol>
		</div>
	</div>
</section>

<section class="advice advice--secondary advice--no-padding">
	<div class="advice__container advice__section wrapper">
		<div class="advice__content">
			<h2 class="advice__title">Jak emocje wpływają na&nbsp;Twoje ciało?</h2>

			<p class="advice__text">
				Emocje odgrywają kluczową rolę w&nbsp;funkcjonowaniu całego organizmu.
				Negatywne uczucia, takie jak
				<b>stres, lęk czy długotrwałe napięcie</b>, mogą zakłócać gospodarkę
				hormonalną, obciążać układ krążenia oraz utrudniać efektywne reagowanie
				na bodźce seksualne. Świadomość tego, w&nbsp;jaki sposób psychika wpływa
				na reakcję ciała, stanowi pierwszy krok do poprawy jakości życia
				intymnego.
			</p>

			<ul class="advice__ulist">
				<li class="advice__ulist-item">
					<b>Kortyzol</b> – zbyt wysoki poziom tego „hormonu stresu” przyczynia
					się do obniżenia stężenia testosteronu i&nbsp;tłumienia reakcji
					seksualnych. Może to prowadzić zarówno do spadku libido, jak i
					kłopotów z&nbsp;osiągnięciem erekcji<sup class="ref">(1)</sup>.
				</li>
				<li class="advice__ulist-item">
					<b>Przewlekłe napięcie</b> – utrzymujący się stres negatywnie
					oddziałuje na układ sercowo-naczyniowy i&nbsp;nerwowy, prowadząc do
					szybkiego wyczerpania organizmu. Jednocześnie może skutkować
					problemami z&nbsp;prawidłowym ukrwieniem prącia, co jest kluczowe dla
					utrzymania erekcji<sup class="ref">(2)</sup>.
				</li>
				<li class="advice__ulist-item">
					<b>Psychologiczne blokady</b> – lęk przed niepowodzeniem, niska
					samoocena czy nieprzepracowane traumy utrudniają pojawienie się
					reakcji seksualnej. W&nbsp;efekcie organizm koncentruje się na
					bodźcach stresowych zamiast na przyjemności i&nbsp;podnieceniu<sup
						class="ref"
						>(1)</sup
					>.
				</li>
				<li class="advice__ulist-item">
					<b>Zaburzenia hormonalne</b> – długotrwałe, negatywne emocje mogą
					zaburzać równowagę hormonów płciowych, co prowadzi do niższej
					produkcji substancji regulujących procesy fizjologiczne.
					W&nbsp;rezultacie poziom libido spada, a&nbsp;reakcje seksualne stają
					się słabsze<sup class="ref">(3)</sup>.
				</li>
			</ul>

			<p class="advice__text">
				Zrozumienie mechanizmów łączących emocje z&nbsp;reakcjami ciała
				<b>ułatwia wdrożenie skutecznych rozwiązań</b>. Wsparcie specjalistów,
				regularna aktywność fizyczna, techniki relaksacyjne oraz rozwijanie
				umiejętności komunikacji w&nbsp;związku to tylko niektóre ze sposobów na
				odzyskanie równowagi psychicznej i&nbsp;poprawę jakości życia intymnego.
			</p>
		</div>

		<div class="bibliography advice__bibliography">
			<h4 class="bibliography__title">Bibliografia:</h4>
			<ol class="bibliography__list">
				<li>
					<span class="bibliography__authors">
						Dickerson&nbsp;S.&nbsp;S., Kemeny&nbsp;M.&nbsp;E. (2004). Acute
						Stressors and Cortisol Responses: A&nbsp;Theoretical Integration and
						Synthesis of Laboratory Research.
						<i>Psychological Bulletin,</i> 130(3), 355-391. –
					</span>
					<a
						href="https://pubmed.ncbi.nlm.nih.gov/15122924/"
						class="bibliography__link"
						target="_blank"
						rel="noopener"
						title="PubMed"
					>
						https://pubmed.ncbi.nlm.nih.gov/15122924/
					</a>
				</li>
				<li>
					<span class="bibliography__authors">
						Minhas&nbsp;S., Bettocchi&nbsp;C., Boeri&nbsp;L.
						<i>et&nbsp;al.</i> (2023). EAU Guidelines on Sexual and Reproductive
						Health. (European Association of Urology). –
					</span>
					<a
						href="https://uroweb.org/guidelines/sexual-and-reproductive-health"
						class="bibliography__link"
						target="_blank"
						rel="noopener"
						title="EAU Guidelines"
					>
						https://uroweb.org/guidelines/sexual-and-reproductive-health
					</a>
				</li>
				<li>
					<span class="bibliography__authors">
						Karalija&nbsp;A., Papadopoulos&nbsp;A., Saric&nbsp;T.
						<i>et&nbsp;al.</i> (2020). Chronic stress and sexual dysfunction:
						The mediating role of physiological and psychological responses.
						<i>European Journal of Sexual Health,</i> 12(2), 45-59. –
					</span>
					<a
						href="https://www.ncbi.nlm.nih.gov/"
						class="bibliography__link"
						target="_blank"
						rel="noopener"
						title="NCBI"
					>
						https://www.ncbi.nlm.nih.gov/
					</a>
				</li>
			</ol>
		</div>
	</div>
</section>

<section class="advice advice--no-padding">
	<div class="advice__container advice__section wrapper">
		<div class="advice__content">
			<h2 class="advice__title">
				Nie musisz mierzyć się z&nbsp;tym sam – kiedy warto zgłosić się
				do&nbsp;specjalisty?
			</h2>

			<p class="advice__text">
				Nie zawsze łatwo jest przyznać się do problemu z&nbsp;erekcją czy
				obniżonym libido, jednak szybkie skonsultowanie się z&nbsp;ekspertem
				może znacząco poprawić komfort życia. Jeśli zaburzenia trwają dłużej niż
				kilka tygodni, pogłębiają się lub wywołują dodatkowy stres
				i&nbsp;obniżony nastrój, warto rozważyć wizytę
				<b>u&nbsp;urologa, seksuologa lub psychoterapeuty</b
				><sup class="ref">(1)</sup>.
			</p>

			<p class="advice__text">
				Specjalista pomoże zdiagnozować przyczynę, zaproponuje najskuteczniejsze
				metody leczenia i&nbsp;wesprze w&nbsp;procesie radzenia sobie
				z&nbsp;trudnościami.
			</p>

			<img
				src="/src/assets/images/man-thinking-about-therapy.webp"
				loading="lazy"
				alt="Mężczyzna rozważający wizytę u specjalisty"
				width="100%"
				height="260"
				class="advice__picture"
			/>

			<p class="advice__text">
				Zwrócenie się po profesjonalną pomoc nie jest oznaką słabości – to
				<b>świadoma decyzja o&nbsp;poprawie jakości życia</b>. Dzięki niej,
				oprócz poradzenia sobie z&nbsp;zaburzeniami, łatwiej będzie zrozumieć
				własne potrzeby i&nbsp;emocje, co pozytywnie wpłynie na relację
				z&nbsp;partnerem.
			</p>

			<p class="advice__text">
				Wiele europejskich wytycznych wskazuje, że
				<b>im wcześniej zostanie wdrożona odpowiednia terapia</b>, tym lepsze
				rokowania w&nbsp;zakresie powrotu do pełnej sprawności seksualnej
				<sup class="ref">(1)</sup>.
			</p>

			<p class="advice__text">
				Każdy przypadek jest inny, dlatego podejście indywidualne stanowi klucz
				do osiągnięcia satysfakcjonujących efektów. Nie zwlekaj – im szybciej
				zdecydujesz się na konsultację, tym szybciej odzyskasz kontrolę nad
				swoim zdrowiem i&nbsp;satysfakcję z&nbsp;życia intymnego.
			</p>
		</div>

		<div class="bibliography advice__bibliography">
			<h4 class="bibliography__title">Bibliografia:</h4>
			<ol class="bibliography__list">
				<li>
					<span class="bibliography__authors">
						Minhas&nbsp;S., Bettocchi&nbsp;C., Boeri&nbsp;L.
						<i>et&nbsp;al.</i> (2023). EAU Guidelines on Sexual and Reproductive
						Health. (European Association of Urology). –
					</span>
					<a
						href="https://uroweb.org/guidelines/sexual-and-reproductive-health"
						class="bibliography__link"
						target="_blank"
						rel="noopener"
						title="EAU Guidelines"
					>
						https://uroweb.org/guidelines/sexual-and-reproductive-health
					</a>
				</li>
			</ol>
		</div>
		<div class="advice__content"><%- include("advice-footer.ejs") %></div>
	</div>
</section>
