<!DOCTYPE html>
<html dir="ltr" lang="pl">
	<%- include("/src/templates/head.ejs") %> <%-
	include("/src/pages/porady-eksperckie/porady-eksperckie.ejs") %>
	<body>
		<header class="header" id="header">
			<%- include("/src/components/nav.ejs") %>
		</header>
		<main>
			<%- include("/src/components/scroller.kit") %> <%-
			include("/src/components/cookies.kit") %> <%-
			include("/src/components/advices-hero.kit") %> <%-
			include("/src/sections/advices-extended.kit") %> <%-
			include("/src/sections/cta.kit") %> <%- include("/src/sections/map.kit")
			%>
		</main>
		<%- include("/src/components/footer.kit") %>
	</body>
</html>
